h1{
    text-align: center;
}
body{
    text-align: center;
    background-color: blue;
    color: white;

}
img{
    position:absolute;
    
}
div{
    position:absolute;
    margin-left: 100px;
    width:600px;
    height:600px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    
}
#rightSide {
    left: 600px;
    border-right: 2px solid white;
}

img{
    size: 50%;
}